// body,html {
//     font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑, "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro", "LiHei Pro", "Heiti TC", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;
// }
.header {
    background: rgb(238, 77, 45);
    height: 5px;
}

.containers {
    width: 1300px;

}

.fonts {
    font-weight: bold;
    // font-size: 20px;
}

.bg-image {
    background: white;
    border-radius: 5px;
    height: 26px;
    width: 90px;
}

.bg-image img {
    width: 90px;
}

.bg-qrcode {
    width: 100px;
}

.bg-qrcode img {
    width: 100%;
}

.bg-pay {
    width: 70px;
    border-radius: 5px;
    background: white;
}

.bg-pay img {
    width: 90%;

}

.img-vn {
    width: 100px;
}

.bg-m {
    background: rgb(245, 245, 245);
}

.si {
    width: 900px;
}

.t-color {
    color: rgb(117, 117, 117);
}