.contact {
    width: 20px;
    height: 20px;
}

.bg-header {
    background: rgb(238, 77, 45);
}

.icon-shopee-logo {
    color: rgb(238, 77, 45);
}

.text-color {
    color: rgb(238, 77, 45);
    border-left: 1px solid rgb(238, 77, 45);
    height: 40px;
}

.input-color {
    border: 2px solid rgb(238, 77, 45);
    width: 500px;
    height: 40px;
}

.bg-btn {
    background: rgb(238, 77, 45);
}

.bg-s {
    background: rgb(245, 245, 245);

}

.header-cart {
    width: 1300px;
}

.wi {
    width: 650px;
}

.size {
    width: 1245px;
}

.L-deCr {
    color: #ee4d2d;
    fill: currentColor;
    width: 1.3125rem;
    height: 1.25rem;
    margin-top: 0.0625rem;
}

.bg {
    background: rgb(238, 77, 45);
}